li[data-value='WA3c4a791baba35b19372cb6413cd5e5e2'],
li[data-value='WA70ce26334d31f7772f86978334e103a2'],
.Twilio-UserControls ul.Twilio-Menu.Twilio-UserControls-AccountMenu li:nth-child(7){
    display: none;
} 