/* fix to hide offline & unavailable status */
li[data-value='WA210abfbea2b1ad69551b9a17693c0048'],
li[data-value='WAdafb4c1a923384dbfe27f68ece7a58f2'],
li[data-value='WA0130735da1ebf12f79edfc04251956c3'],
li[data-value='WAe52567b09a6b08d00b33e6f3755212c9']
.Twilio-UserControls ul.Twilio-Menu.Twilio-UserControls-AccountMenu li:nth-child(2),
.Twilio-UserControls ul.Twilio-Menu.Twilio-UserControls-AccountMenu li:nth-child(4){
    display: none;
}
